In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/string_human.csv')  # Load STRING db data

In [3]:
def modify(x):
    ensembl = x.split('.')[-1]        # To remove the "9606" from the beginning of each protein ID
    return ensembl

In [4]:
df['protein1'] = df['protein1'].apply(modify) # Applying above function on protein 1
df['protein2'] = df['protein2'].apply(modify) # Applying above function on protein 2
df

,protein1,protein2,neighborhood,fusion,cooccurence,coexpression,experimental,database,textmining,combined_score
0,ENSP00000000233,ENSP00000272298,0,0,332,62,181,0,125,490
1,ENSP00000000233,ENSP00000253401,0,0,0,0,186,0,56,198
2,ENSP00000000233,ENSP00000401445,0,0,0,0,159,0,0,159
3,ENSP00000000233,ENSP00000418915,0,0,0,61,158,0,542,606
4,ENSP00000000233,ENSP00000327801,0,0,0,88,78,0,89,167
...,...,...,...,...,...,...,...,...,...,...
11759449,ENSP00000485678,ENSP00000310488,0,0,0,167,0,0,0,167
11759450,ENSP00000485678,ENSP00000342448,0,0,0,175,0,0,0,175
11759451,ENSP00000485678,ENSP00000350222,0,0,0,195,0,0,0,195
11759452,ENSP00000485678,ENSP00000367590,0,0,0,0,0,900,0,900
11759453,ENSP00000485678,ENSP00000349930,0,0,0,213,0,0,0,213

In [5]:
# Get the set of proteins for a given row. This is used to remove duplicates.
def f(x):
    p1, p2 = x
    return {p1, p2}

df['combined_protein'] = df[['protein1', 'protein2']].apply(f, axis=1)
df['combined_protein'].head()

0    {ENSP00000000233, ENSP00000272298}
1    {ENSP00000000233, ENSP00000253401}
2    {ENSP00000000233, ENSP00000401445}
3    {ENSP00000000233, ENSP00000418915}
4    {ENSP00000000233, ENSP00000327801}
Name: combined_protein, dtype: object

In [6]:
s = set()                   # set of all protein tuples
drop_i = list()             # row indices that need to be removed

for i in df.index:
    l1 = len(s)             # length of set s before adding a tuple of protein
    s.add(frozenset(df['combined_protein'][i]))
    l2 = len(s)             # length of set s before adding a tuple of protein
    if l1 == l2:
        drop_i.append(i)    # drop a row if the tuple of protein already exists in the dataframe

print(len(drop_i))          
# Note that length of drop_i is exactly 50% of the total number of rows in the dataset

5879727

In [7]:
df = df.drop(drop_i)                        # remove the duplicate rows
df.to_csv('../data/string_no_reps.csv', index=None) # save it as a csv file

In [1]:
import pandas as pd 

df = pd.read_csv('../data/string_no_reps.csv')

l = df.columns.values.tolist()
l.remove('combined_protein')                # remove the column that has tuple of proteins
df = df[l]
df.shape

(5879727, 10)

In [2]:
df.to_csv('../data/string_clean.csv', index=None)